<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.demo.mapper.FBoardMapper">
    <select id="getTitle" resultType="String">
        SELECT TITLE
        from BOARD_TABLE
        where NUM=1
    </select>

    <select id="selectAllBoard" resultType="TitleDTO">
        SELECT NUM,TITLE,CONTENTS from BOARD_TABLE
    </select>

</mapper>