<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.demo.mapper.FBoardMapper">
    <sql id="criteria">
        <trim prefix="(" suffix=") AND " prefixOverrides="OR">
            <foreach item='type' collection="typeArr">
                <trim prefix="OR">
                    <choose>
                        <when test="type=='T'.toString()">
                            title like '%' || #{keyword} || '%'
                        </when>
                        <when test="type=='C'.toString()">
                            contents like '%' || #{keyword} || '%'
                        </when>
                    </choose>
                </trim>
            </foreach>
        </trim>
    </sql>


    <select id="getTitle" resultType="String">
        SELECT TITLE
        from BOARD_TABLE
        where BNO=1
    </select>

    <select id="getListWithPaging" resultType="com.example.demo.domain.BoardVO">
		<![CDATA[
		select
		 bno, title, contents, creationDate, updateDate, replycnt
		from (
		    select /*+INDEX_DESC(board_table pk_test_board) */ rownum rn, bno, title, contents, creationDate, updateDate,
		        replycnt
		    from board_table
		    where
        ]]>
        
        <include refid="criteria"></include>
        
        <![CDATA[
            rownum <= #{pageNum} * #{amount}
            )
         where rn > (#{pageNum} -1) * #{amount}
        ]]>
    </select>

    <select id="getList" resultType="com.example.demo.domain.BoardVO">
        select *
        from board_table
    </select>

    <select id="read" resultType="com.example.demo.domain.BoardVO">
        select * from board_table where bno=#{bno}
    </select>

    <select id="getTotalCount" resultType="int">
        select count(*) from board_table
        where

        <include refid="criteria"></include>

        bno > 0
    </select>

    <insert id="insert">
        insert into board_table (BNO, TITLE, CONTENTS)
        values (seq_board.nextval, #{title}, #{contents})
    </insert>

    <insert id="insertSelectKey">
        <selectKey keyProperty="bno" order="BEFORE" resultType="long">
            select seq_board.nextval from dual
        </selectKey>

        insert into board_table (BNO, TITLE, CONTENTS)
        values (#{bno}, #{title}, #{contents})
    </insert>

    <delete id="delete">
        delete board_table where bno=#{bno}
    </delete>

    <update id="update">
        update board_table
        set title=#{title},
        contents=#{contents},
        UPDATEDATE = sysdate
        where bno=#{bno}
    </update>

    <update id="updateReplyCnt">
        update board_table set replycnt = replycnt + #{amount} where bno = #{bno}
    </update>

</mapper>