<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.demo.mapper.FBoardMapper">
    <select id="getTitle" resultType="String">
        SELECT TITLE
        from BOARD_TABLE
        where RNO=1
    </select>

    <select id="getList" resultType="com.example.demo.domain.BoardVO">
        select *
        from board_table
        where bno>0
    </select>

    <insert id="insert">
        insert into board_table (BNO, TITLE, CONTENTS)
        values (seq_board.nextval, #{title}, #{contents})
    </insert>

    <insert id="insertSelectKey">
        <selectKey keyProperty="bno" order="BEFORE" resultType="long">
            select seq_board.nextval from dual
        </selectKey>

        insert into board_table (BNO, TITLE, CONTENTS)
        values (#{bno}, #{title}, #{contents})
    </insert>

    <select id="read" resultType="com.example.demo.domain.BoardVO">
        select * from board_table where bno=#{bno}
    </select>

    <delete id="delete">
        delete board_table where bno=#{bno}
    </delete>

    <update id="update">
        update board_table
        set title=#{title},
        contents=#{contents},
        UPDATE_DATE = sysdate
        where bno=#{bno}
    </update>
</mapper>